<!DOCTYPE html>
<html>
  <head>
    <title>ReferencingApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p>MENU >> <a href="/">Home Page</a> & <a href="/references">References</a> & <a href="/authors">Authors</a> & <a href="/static_pages/about">About Us</a></p>
    <%= yield %>
  </body>
</html>
